extends layout

block content
  h1 Skookum Invaders!
  canvas#game(width="800", height="800") You don't have the ability to view canvas. Loser!!
  p Controls: Arrow keys = movement, spacebar = shoot, P = pause game
