@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

@import 'nib'
global-reset()
reset-html5()

/* Variables */
yellow = #ffeb01
bgcolor = #282224
textcolor = #d0d0d0
code-font = Consolas, "Liberation Mono", Courier, monospace

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html
  background bgcolor

body
  background bgcolor
  width 80%
  color textcolor
  margin 0 auto
  font 1em/1.3125em Helvetica, Arial, sans-serif

a:link, a:active, a:visited
  color yellow
  text-decoration none
a:hover
  text-decoration underline

h1, h2, h3, h4, h5, h6
  font-family 'Lato', sans-serif
  font-weight 400
  color #d2d2d2
  line-height 1.3125em

h1, .h1
  font-weight 900
  font-size 4.25em
  color #fff
  margin 0.6666em 0
  &:first-of-type
    margin-top 0
h2, .h2
  font-size 2.625em
  margin 1em 0
h3, .h3
  font-size 1.625em
  color #afb092
  margin 1.385em 0

pre, .url
  font-family code-font
  background #2c2c2c
  border-radius 0.5em
  padding 0.5em
  margin 1em 0

article pre
  overflow-x auto
  ol.line-numbers
    counter-reset li
    margin 0
    li
      position relative
      list-style-type none
      margin 0 0 0 2em
      &:before
        content counter(li)
        counter-increment li
        position absolute
        top 0
        left -2.5em
        width 2em
        background rgba(0, 0, 0, 0.3)
        -moz-box-sizing border-box
        -webkit-box-sizing border-box
        box-sizing border-box
        padding 0 0.25em
        text-align right
        user-select none
      &:first-child:before
        border-top-left-radius 0.25em
        border-top-right-radius 0.25em
      &:last-child:before
        border-bottom-left-radius 0.25em
        border-bottom-right-radius 0.25em
  .method ol.line-numbers li:before
    display none
  code
    .comment { color: #839496 }
    .init { color: yellow }
    .string { color: #5a8dfa }
    .string span { color: #5a8dfa }
    .keyword { color: #d61103 }
    .number { color: #009282 }
    .placeholder { color: #888 }
    .method
      &.GET
        color #009282
      &.POST
        color #5a8dfa
      &.PUT
        color yellow
      &.DELETE
        color #cb4b16

.url
  .method
    display inline-block
    padding 0.25em

#header
  padding 2em 0
  h1
    display inline-block
    margin 0
    width 300px
    height 74px
    text-indent 100%
    white-space nowrap
    overflow hidden
    background url(/images/logo.png) left top no-repeat
  #navigation
    display inline-block
    vertical-align bottom
    margin 0 0 0 2em
    ul
      display inline-block
      li
        display inline-block
        margin 0 1em

#main
  padding 2.5em 0
  padding-left 25%
  position relative
  & .no-sidebar
    margin-left -33%
  
  #sidebar
    position absolute
    left 0
    top 2.5em
    width 20%
    &.fixed
      position fixed
      top 16px
      left 10%
      width 16%
    > ul
      > li
        margin-bottom 1em
        > a
          display block
          padding 0.25em
          margin-bottom 0.5em
        &.active > a
          background yellow
          color bgcolor
        > ul
          padding-left 1em
          > li
            > a
              position relative
              &:after
                content '>'
                display block
                position absolute
                top 0
                left -20px
                opacity 0
                transition-property left, opacity
                transition-duration 0.5s
                transition-timing-function ease-in-out
            &.active > a:after
              opacity 1
              left -16px
article
  p, ul, ol
    margin-bottom 1em
  ul, ol
    margin-left 20px
    li
      margin-bottom 0.25em
  ul li
    list-style-type disc
  ol li
    list-style-type decimal

#pie, #bar
  background #eee
  border 1px solid #333
  border-radius 5px
  padding 10px
  min-height 600px
  margin 20px