@import 'nib'
global-reset()
reset-html5()

/* Variables */
yellow = #ffeb01
bgcolor = #171113
textcolor = #d0d0d0

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html
  background bgcolor

body
  background bgcolor
  width 100%
  height 100%
  color textcolor
  margin 0 auto
  font 1em/1.3125em Helvetica, Arial, sans-serif

#container
  position absolute
  top     5px
  right   5px
  bottom  5px
  left    5px

a:link, a:active, a:visited
  color yellow
  text-decoration none
a:hover
  text-decoration underline

h1, h2, h3, h4, h5, h6
  font-family sans-serif
  font-weight 400
  color #d2d2d2
  line-height 1.3125em

h1, .h1
  font-weight 900
  font-size 4.25em
  color #fff
  margin 0.6666em 0
  &:first-of-type
    margin-top 0
h2, .h2
  font-size 2.625em
  margin 1em 0
h3, .h3
  font-size 1.625em
  color #afb092
  margin 1.385em 0
